@import url('item-card-list.css');

.search-section {
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
    position: relative; /* Ensures child elements are positioned relative to this */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--second-color);
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--forth-color);
    background-color: var(--forth-color);
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.2s ease;
}

.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    position: absolute; /* Position relative to the parent container */
    width: calc(80% - 2px); /* Matches the search bar width minus borders */
    top: 100%; /* Positions it right below the search bar */
    left: 10%; /* Aligns it with the search bar */
    z-index: 1000; /* Ensures it appears above other elements */
    border-radius: 0 0 8px 8px; /* Smooth corners for the dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
}

.dropdown li:hover {
    background: #f0f0f0;
}

.faq-container {  
    padding: 20px;
    text-align: right;
}

.faq-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    background-color: var(--second-color);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-question {
    border: none;
    width: 100%;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--third-color);
}

.faq-question:hover {
    background-color: var(--forth-color);
}

.faq-answer {
    display: none; /* پاسخ‌ها در ابتدا مخفی هستند */
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    color: #333;
    line-height: 1.6;
}

