@import url('gallery.css');
@import url('movie-artist-details.css');
@import url(item-card-list.css);

/* related section*/
.comment-section {
    padding: 20px;
    background-color: var(--first-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
}

.comment-section>section {
    background-color: var(--second-color);
    padding: 10px;
}

.comment-section h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.comment-section label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.comment-section input, textarea {
    padding: 10px;
    border: 1px solid var(--forth-color);
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.comment-section input:focus, textarea:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(0, 162, 232, 0.5);
}

.comment-section button {
    padding: 10px 20px;
    border: none;
    background-color: var(--first-color);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.comment-section button:hover {
    background-color: var(--third-color);
    transform: scale(1.05);
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    display: none;
}

.success-message {
    color: green;
    font-size: 1rem;
    margin-top: 15px;
    text-align: center;
    display: none;
}



.review-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .review-reply{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .review {  
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .review-detail {  
    display: flex;
    justify-content: space-between;
  }
  

  .review-reply {
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .text {
    background-color: var(--forth-color);
    
    padding: 10px;
    margin: 5px;
  }



