@import url('gallery.css');
@import url('movie-artist-details.css');
@import url(item-card-list.css);

/* related section*/

.command-rating-section {
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

.command-rating-section h3 {
    margin-bottom: 15px;
    color: #333;
}

.rating-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-form label {
    margin: 10px 0 5px;
    font-size: 1em;
    color: #333;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
    resize: none;
    font-size: 1em;
    margin-bottom: 15px;
    background-color: var(--forth-color);
}

.rating {
    font-size: 25px;    
    display: flex;    
}

.rating-empty { color: aliceblue;}
.rating-fill { color: gold}

.star-rating {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label.star {
    font-size: 2em;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label.star {
    color: gold;
}

.star-rating label.star:hover,
.star-rating label.star:hover ~ label.star {
    color: gold;
}

button[type="submit"] {
    background-color: var(--forth-color);
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: var(--second-color);
}



.review-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .review-reply{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .review {  
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .review-detail {  
    display: flex;
    justify-content: space-between;
  }
  

  .review-reply {
    background-color: var(--third-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .text {
    background-color: var(--forth-color);
    
    padding: 10px;
    margin: 5px;
  }



