@import url('navbar.css');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}


:root {
    --first-color: #85C7DE;
    --second-color: #AED1E6;
    --third-color: #C6DBF0;
    --forth-color: #CFE8EF;
    --font-family: sans-serif , Arial ;
}

section {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--first-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    background-color: var(--forth-color);
    color: #333;
}
  
  /* استایل اصلی اسکرول بار */
 *::-webkit-scrollbar {
    width: 8px; /* عرض اسکرول بار */
    height: 8px; /* ارتفاع اسکرول بار برای حالت افقی */
}

/* استایل پس‌زمینه اسکرول بار */
*::-webkit-scrollbar-track {
    background: #f0f0f0; /* رنگ پس‌زمینه */
    border-radius: 10px; /* گرد کردن گوشه‌های پس‌زمینه */
}

/* استایل برای بخش متحرک اسکرول بار */
*::-webkit-scrollbar-thumb {
    background-color: var(--second-color); /* رنگ اسکرول بار */
    border-radius: 10px; /* گرد کردن گوشه‌ها */
    border: 2px solid #f0f0f0; /* ایجاد فاصله بین اسکرول بار و پس‌زمینه */
}

/* تغییر رنگ اسکرول بار هنگام هاور */
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--first-color); /* رنگ اسکرول بار در حالت هاور */
}